html {
  font-size: 14px;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: 10px;
  background-color: #764ABC;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

h1 {
  color:whitesmoke;
  font-size: 100px;
}